repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: trailing-whitespace

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
        args:
          - --args=--quiet
          - --args=--skip-schema-validation

  - repo: local
    hooks:
      - id: generate-docs
        name: generate helm README.md and values.schema.json
        language: script
        entry: .pre-commit/process.sh
        files: (Chart\.yaml|values\.yaml)$
        exclude: examples/.*$
