name: Debug Charts

on:
  workflow_dispatch:

jobs:
  publish-charts:
    runs-on: ubuntu-latest
    name: Publish Charts to registry
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Build the package of updated Charts
        id: package-charts
        run: |
          version_changed_charts=(
            "charts/deployment"
          )

          mkdir -p .cr-release-packages/
          for dir in ${version_changed_charts}; do
            helm package $dir --dependency-update --destination .cr-release-packages/
          done

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@main
        with:
          version: v1.8.1
          skip_packaging: true
          skip_existing: true
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
