name: Debug Charts

on:
  workflow_dispatch:

jobs:
  publish-charts:
    runs-on: ubuntu-latest
    name: Publish Charts to registry
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Build the package of updated Charts
        id: package-charts
        run: |
          version_changed_charts=(
            "charts/deployment"
          )

          for dir in ${version_changed_charts}; do
            rm -rf dist/ && mkdir -p dist/
            helm package $dir --dependency-update --destination dist/
            for file in dist/*.tgz; do
              release_name=$(basename $file .tgz)
              gh release upload $release_name $file --clobber
              helm repo index dist/ \
                --merge gh-pages/index.yaml \
                --url "https://github.com/next-gen-infrastructure/kubernetes-helm-charts/releases/download/${release_name}/${release_name}.tgz"
            done
          done

      - name: Update GitHub Pages index
        run: |
          cd gh-pages
          git add index.yaml
          git commit -m "Add Helm chart for $GITHUB_REF_NAME"
          git push origin HEAD:gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
