name: Test Charts

on:
  pull_request:
    branches:
      - main
    paths:
      - "charts/**"
    types:
      - opened
      - synchronize
  workflow_dispatch:

jobs:
  test:
    if: github.head_ref != 'release-please--branches--main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        with:
          fetch-depth: 0
        uses: actions/checkout@v6
      - name: Set up Helm
        uses: azure/setup-helm@v4
      - name: lint
        run: |
          for x in ./charts/*; do
            pushd $x
            helm dependency update .
            helm lint . \
              --set global.project=core \
              --set global.domain=example.com \
              --set global.serviceName=test \
              --with-subcharts \
              --strict
            popd
          done
      - name: validate
        run: |
          for x in ./charts/*; do
            pushd $x
            helm template . \
              --debug \
              --generate-name \
              --namespace test \
              --dependency-update \
              --set global.project=core \
              --set global.domain=example.com \
              --set global.serviceName=test \
              --values values.yaml
            popd
          done


